# Goal

## Note
1. the thanker final data collector was written in the edit-sync repo as part of onboard_thankers. I'm switching it up because this is closer to the goal of making a dataCollector module for civilservant2.0

### connections
1. connecting to aws studies mysql on `3311`
    1. `ssh -N studies.cs -L 3311:127.0.0.1:3306`
2. connecting to wmf repliacs on `3310`
    1. `ssh -N maximilianklein@tools-login.wmflabs.org -L 3310:enwiki.analytics.db.svc.eqiad.wmflabs:3306`

In [2]:
# from thanks.utils import _get_experiment_id
from civilservant.util import read_config_file
import os
from sqlalchemy.dialects import mysql
import pandas as pd
import datetime
# import uuid
CACHEDIR='/data/project/cache'
TRESORDIR='/home/paprika/Tresors/CivilServant/projects/wikipedia-integration/gratitude-study/'

In [277]:
SUBDIR = 'Data Drills/thankee/post_experiment_analysis/'
df_anon = pd.read_csv(os.path.join(TRESORDIR, SUBDIR, 'grat-thankee-all-pre-post-treatment-vars-max-cols.csv'), parse_dates=['created.dt', 'behavior.start.dt'])
acct_map = pd.read_csv(os.path.join(TRESORDIR, SUBDIR, 'acct_map.csv'))

In [278]:
df = df_anon.merge(right=acct_map, left_on='private.anonymous.id', right_on='private_anonymous_id').set_index('id')

In [279]:
len(df) == len(df_anon)

True

### get every thank sent in the experiment

In [6]:
os.environ['CS_DB_HOST']='127.0.0.1:3311' #monkey patch for the win
os.environ['CS_DB_DATABASE'] = 'civilservant_production'
os.environ['CS_DB_PASSWORD'] = ''
os.environ['CS_DB_USER']="civilservant"

In [7]:
! which ipython

/home/paprika/.local/share/virtualenvs/experiment-action-controller-MJBx_Q7R/bin/ipython

In [196]:
import civilservant
import civilservant.models
import civilservant.models.core

from civilservant.db import init_session, init_engine
import sys
db = init_session()
con = init_engine()

In [197]:
os.getenv('CS_DB_HOST')

'127.0.0.1:3311'

In [198]:
os.getenv('CS_ENV')

'development'

In [199]:
con

Engine(mysql://civilservant:***@127.0.0.1:3311/civilservant_production?charset=utf8mb4)

In [361]:
thankee_thanker_dt_sql = \
'''
with thanks as (
    select
      JSON_UNQUOTE(metadata_json->'$.lang')                             as lang,
      JSON_UNQUOTE(metadata_json->'$.thanks_response.result.recipient') as recipient,
      action_object_id                                                  as rev_id,
      action_key_id,
      created_dt as action_dt
    from core_experiment_actions
    where action = 'thank'
          and created_dt < DATE '2020-02-11'
),
    thankers as (
      select
        id,
        username
      from core_oauth_users
  ),
    joined as (
      select
        t.lang,
        t.recipient as recipient_unreliable,
        t.rev_id,
        t.action_dt,
        et.id      as ed_id,
        et.object_created_dt,
        JSON_UNQUOTE(et.metadata_json->'$.sync_object.newRevUser') as recipient,
        et.removed_dt,
        o.id       as oauth_id,
        o.username as thanker
      from thanks t
        left join core_experiment_things et
          on concat('edit:', t.lang, ':', t.rev_id) = et.id
        left join thankers o
          on t.action_key_id = o.id
  )
select *
from joined
where lang != 'en';

'''

In [362]:
study_thanks = pd.read_sql(thankee_thanker_dt_sql, params={}, con=con)

In [363]:
study_thanks.to_csv(os.path.join(TRESORDIR, SUBDIR, 'all_study_thanks.checkpoint.csv'))

## add in the control group

In [364]:
study_thanks[study_thanks['recipient']=='Fatemioun2020']

,lang,recipient_unreliable,rev_id,action_dt,ed_id,object_created_dt,recipient,removed_dt,oauth_id,thanker
480,ar,Fatemioun2020,34917942,2019-08-09 11:32:50,edit:ar:34917942,2019-07-31 04:06:25,Fatemioun2020,NaT,273,ar:Mohammad hajeer

In [369]:
study_thanks[study_thanks['recipient'].apply(lambda s: s is None)]

Empty DataFrame
Columns: [lang, recipient_unreliable, rev_id, action_dt, ed_id, object_created_dt, recipient, removed_dt, oauth_id, thanker]
Index: []

In [457]:
df.columns

Index(['created.dt', 'randomization.arm', 'randomization.condition',
       'removed.dt', 'metadata.json', 'lang', 'user.name',
       'randomization.block.id', 'num.errors', 'number.skips.received',
       'first.thank.dt', 'number.thanks.received', 'num.messages', 'consent',
       'overall.exp', 'social.value.1', 'wikipedians.value.contributions',
       'social.value.3', 'social.value.4', 'community.friendly',
       'social.warmth.2', 'social.warmth.3', 'community', 'remembered.thanks',
       'private.anonymous.id', 'behavior.start.dt', 'labor.hours.ts.df',
       'labor.hours.pre.treatment', 'labor.hours.post.treatment',
       'labor.hours.per.day.pre.treatment',
       'labor.hours.per.day.post.treatment', 'labor.hours.per.day.diff',
       'two.week.retention', 'thanks.sent.df', 'thanks.sent',
       'thanks.sent.df.pre.treatment', 'thanks.sent.pre.treatment',
       'user.basic.data', 'user.registration.dt', 'user.id',
       'user.registration.dt.sync.object', 'created.dt.sync.object',
       'prev.experience.assignment',
       'prev.experience.assignment.post.candidate',
       'prev.experience.treatment', 'year', 'has.email',
       'thanks.not.received.skipped', 'thanks.not.received.not.seen',
       'thanks.not.received.error', 'thanks.not.received.user.deleted',
       'received.multiple.thanks', 'complier.app.any.reason', 'complier',
       'public_anonymous_id', 'private_anonymous_id'],
      dtype='object')

In [458]:
# df[(df['randomization.condition']=='thankee') & (df['randomization.arm']==1)]

In [459]:
control = df[(df['randomization.condition']=='thankee') & (df['randomization.arm']==0)]

In [465]:
skipped = df[(df['randomization.condition']=='thankee') & (df['randomization.arm']==1) & (df['thanks.not.received.skipped']) ]

In [466]:
unseen = df[(df['randomization.condition']=='thankee') & (df['randomization.arm']==1) & (df['thanks.not.received.not.seen']) ]

In [494]:
deleted = df[(df['randomization.condition']=='thankee') & (df['randomization.arm']==1) & (df['thanks.not.received.user.deleted']) ]

In [495]:
control_or_untreated = pd.concat([control, skipped, unseen, deleted])
len(control_or_untreated)

12785

In [496]:
add_ins = control_or_untreated[['lang', 'user.name', 'created.dt']]
add_ins = add_ins.rename(columns={'user.name':'recipient', 'created.dt':'object_created_dt'})

In [497]:
add_ins['rev_id'] = -1
add_ins['ed_id'] = -1
add_ins['removed_dt'] = float('nan')
add_ins['oauth_id'] = -1
add_ins['thanker'] = -1
add_ins['thanker_without_prefix'] = -1

In [498]:
study_thanks.head(1)

,lang,recipient_unreliable,rev_id,action_dt,ed_id,object_created_dt,recipient,removed_dt,oauth_id,thanker,thanker_without_prefix
0,ar,Badr d alahmad,34898867,2019-08-02 13:43:57,edit:ar:34898867,2019-07-31 04:06:26,Badr d alahmad,NaT,7,ar:Ahmed M Farrag,Ahmed M Farrag

In [499]:
add_ins.head(1)

,lang,recipient,object_created_dt,rev_id,ed_id,removed_dt,oauth_id,thanker,thanker_without_prefix
id,,,,,,,,,
user_id:ar:1576994,ar,Mr.dagbashey,2020-01-22 00:49:32,-1,-1,NaN,-1,-1,-1

In [500]:
study_thanks['thanker_without_prefix'] = study_thanks['thanker'].apply(lambda s: s.replace('ar:','').replace('fa:','').replace('de:','').replace('pl:',''))

In [501]:
study_thanks_wcontrol = pd.concat([study_thanks, add_ins])

len(study_thanks), len(study_thanks_wcontrol)

(3169, 15954)

### get every thank on wikipedia in the 42 days after user was thanked
- complicated by language
- and by users being thanked multiple times (what are the start and end dates)

Try and get every sender-receiver-timestamp from START_EXPERIMENT to 42DAYS AFTER LAST THANK. In every language.

In [502]:
study_thanks.head(1)

,lang,recipient_unreliable,rev_id,action_dt,ed_id,object_created_dt,recipient,removed_dt,oauth_id,thanker,thanker_without_prefix
0,ar,Badr d alahmad,34898867,2019-08-02 13:43:57,edit:ar:34898867,2019-07-31 04:06:26,Badr d alahmad,NaT,7,ar:Ahmed M Farrag,Ahmed M Farrag

In [380]:
LABOR_HOURS_OBS_WINDOW = datetime.timedelta(days=42)
ONE_DAY = datetime.timedelta(days=1)

In [381]:

EXPERIMENT_START_DT = min(study_thanks['object_created_dt'])

EXPERIMENT_END_DT = max(study_thanks['object_created_dt']) + LABOR_HOURS_OBS_WINDOW

In [382]:
EXPERIMENT_START_DT, EXPERIMENT_END_DT # Going to roll with these dates as they line up mostly, but only include thanks.

(Timestamp('2019-07-31 00:03:13'), Timestamp('2020-03-17 08:16:55'))

In [383]:
EXPERIMENT_START_DT_WMFTS = EXPERIMENT_START_DT.strftime('%Y%m%d%H%M%S')
EXPERIMENT_END_DT_WMFTS = EXPERIMENT_END_DT.strftime('%Y%m%d%H%M%S')

In [384]:
EXPERIMENT_END_DT_WMFTS_SHORT = (EXPERIMENT_START_DT+ONE_DAY).strftime('%Y%m%d%H%M%S')

In [26]:
from sqlalchemy import create_engine
wmfcon = create_engine(f"mysql://{os.environ['WMF_MYSQL_USERNAME']}:{os.environ['WMF_MYSQL_PASSWORD']}@{os.environ['WMF_MYSQL_HOST']}:{os.environ['WMF_MYSQL_PORT']}")

In [27]:
use_q = 'use {lang}wiki_p;'
lang_thanks_q = '''
 select log_timestamp as thank_timestamp, replace(log_title, '_', ' ') as receiver, a.actor_name as sender_user_name
  from logging_logindex l
  join actor a
   on l.log_actor = a.actor_id
  where 
    log_action = 'thank'
    and log_timestamp >= '{EXPERIMENT_START_DT_WMFTS}'
    and log_timestamp <= '{EXPERIMENT_END_DT_WMFTS}';
    '''

In [28]:
fa_use_query = use_q.format(lang='fa')
fa_lang_query = lang_thanks_q.format(EXPERIMENT_START_DT_WMFTS=EXPERIMENT_START_DT_WMFTS,  
                                      EXPERIMENT_END_DT_WMFTS=EXPERIMENT_END_DT_WMFTS)

In [29]:
print(fa_lang_query)

 select log_timestamp as thank_timestamp, replace(log_title, '_', ' ') as receiver, a.actor_name as sender_user_name
  from logging_logindex l
  join actor a
   on l.log_actor = a.actor_id
  where
    log_action = 'thank'
    and log_timestamp >= '20190731000313'
    and log_timestamp <= '20200317081655';

In [30]:
wmfcon.execute(fa_use_query)

In [31]:
# wmfcon.execute(fa_lang_query).fetchall()

In [32]:
study_langs = list(study_thanks['lang'].unique())

In [33]:
import time

In [34]:
res = {}
for lang in study_langs:
    print(f'working on study lang {lang}')
    stime = time.time()
    use_query = use_q.format(lang=lang)
    lang_query = lang_thanks_q.format(EXPERIMENT_START_DT_WMFTS=EXPERIMENT_START_DT_WMFTS,  
                                      EXPERIMENT_END_DT_WMFTS=EXPERIMENT_END_DT_WMFTS)
    print(use_query)
    print(lang_query)
    wmfcon.execute(use_query)
    ldf = pd.read_sql(lang_query, params={}, con=wmfcon)
    res[lang] = ldf
    etime = time.time()
    print(f'{lang} took {etime-stime} seconds')

working on study lang ar
use arwiki_p;

 select log_timestamp as thank_timestamp, replace(log_title, '_', ' ') as receiver, a.actor_name as sender_user_name
  from logging_logindex l
  join actor a
   on l.log_actor = a.actor_id
  where
    log_action = 'thank'
    and log_timestamp >= '20190731000313'
    and log_timestamp <= '20200317081655';

ar took 14.8468599319458 seconds
working on study lang de
use dewiki_p;

 select log_timestamp as thank_timestamp, replace(log_title, '_', ' ') as receiver, a.actor_name as sender_user_name
  from logging_logindex l
  join actor a
   on l.log_actor = a.actor_id
  where
    log_action = 'thank'
    and log_timestamp >= '20190731000313'
    and log_timestamp <= '20200317081655';

de took 64.71280264854431 seconds
working on study lang pl
use plwiki_p;

 select log_timestamp as thank_timestamp, replace(log_title, '_', ' ') as receiver, a.actor_name as sender_user_name
  from logging_logindex l
  join actor a
   on l.log_actor = a.actor_id
  where
    log_action = 'thank'
    and log_timestamp >= '20190731000313'
    and log_timestamp <= '20200317081655';

pl took 8.547661066055298 seconds
working on study lang fa
use fawiki_p;

 select log_timestamp as thank_timestamp, replace(log_title, '_', ' ') as receiver, a.actor_name as sender_user_name
  from logging_logindex l
  join actor a
   on l.log_actor = a.actor_id
  where
    log_action = 'thank'
    and log_timestamp >= '20190731000313'
    and log_timestamp <= '20200317081655';

fa took 12.804641485214233 seconds

In [35]:
def decode_or_nan(b):
    return b.decode('utf-8') if b else float('nan')
def from_wmftimestamp(timestr, default=None):
    if isinstance(timestr, str):
        return datetime.datetime.strptime(timestr, '%Y-%m-%dT%H:%M:%SZ')
    elif isinstance(timestr, bytes):
        if timestr:
            s = timestr.decode('utf-8')
            adt = datetime.datetime.strptime(s, '%Y%m%d%H%M%S')
            return adt
        elif default:
            return default
    else:
        return timestr

In [36]:
def decode_all_cols(df, lang):
    df['thank_timestamp'] = df['thank_timestamp'].apply(from_wmftimestamp)
    df['receiver'] = df['receiver'].apply(decode_or_nan)
    df['sender'] = df['sender_user_name'].apply(decode_or_nan)
    df['lang'] = lang
    del df['sender_user_name']
    return df

In [37]:
res_decode = {lang: decode_all_cols(df, lang) for lang, df in res.items()}

In [38]:
res_decode['de']

          thank_timestamp           receiver           sender lang
0     2019-07-31 00:03:51      Arturolorioli             LKIT   de
1     2019-07-31 00:08:19            Jaellee   Hobbitschuster   de
2     2019-07-31 00:46:31  KeinerMagFassmann     Gestumblindi   de
3     2019-07-31 00:46:46            Wiegels       Ordercrazy   de
4     2019-07-31 01:02:34         Lanzenhart          Tkotw12   de
...                   ...                ...              ...  ...
86979 2020-03-17 07:56:02           Dentalum  Diskografienerd   de
86980 2020-03-17 07:56:22           Marbruno            Blech   de
86981 2020-03-17 07:58:37           Atirador    Freimut Bahlo   de
86982 2020-03-17 08:02:50        Condividere       Cockamouse   de
86983 2020-03-17 08:15:43         PaterMcFly    Hans Koberger   de

[86984 rows x 4 columns]

In [39]:
project_thanks = pd.concat(res_decode.values())

In [40]:
len(project_thanks)

130646

In [41]:
project_thanks.head()

      thank_timestamp      receiver                sender lang
0 2019-07-31 00:11:51       Abod003            Bilal Hoor   ar
1 2019-07-31 00:47:49         شيماء      أبو الليل العربي   ar
2 2019-07-31 02:37:05       Glory20                  صالح   ar
3 2019-07-31 04:51:42          صالح                 ديفيد   ar
4 2019-07-31 07:14:30  Michel Bakni  محمد أحمد عبد الفتاح   ar

### make sure that OG sender--receiver pairs are unique

In [503]:
study_thanks_uniq = study_thanks_wcontrol.groupby(by=['lang', 'recipient', 'thanker_without_prefix'])\
    .agg({'object_created_dt':pd.np.min})\
     .reset_index().groupby(['recipient','lang']).first().reset_index()

# study_thanks_uniq = study_thanks.groupby(by=['lang', 'recipient', 'thanker_without_prefix'])\
#     .agg({'object_created_dt':pd.np.min})\
#      .reset_index().groupby(['recipient','lang']).first().reset_index()

# the first group by take the first timestamp of every thanker-thankee interaction.
# the second group by selects just the first thanke-thankee-interaction, so that each og_thankee appears only once.

/home/paprika/.local/share/virtualenvs/experiment-action-controller-MJBx_Q7R/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

In [504]:
study_thanks_uniq = study_thanks_uniq.rename(columns={'recipient':'og_thankee', 'thanker_without_prefix':'og_thanker', 'object_created_dt':'og_thank_ts'})
# study_thanks_uniq = study_thanks_uniq.rename(columns={'recipient':'og_thankee', 'thanker_without_prefix':'og_thanker', 'action_dt':'og_thank_ts'})

In [505]:
project_thanks = project_thanks.rename(columns={'receiver':'lil_thankee','sender':'lil_thanker','thank_timestamp':'lil_thank_ts'})

In [506]:
study_thanks_uniq

                 og_thankee lang og_thanker         og_thank_ts
0             "Coreytaylor"   pl        PMG 2019-07-31 02:59:02
1         "Sounia alzghoul"   ar         -1 2019-09-06 18:36:24
2           "giancarlo sav"   de         -1 2020-01-22 00:51:34
3      (محمدحامدبدرالموسوي)   ar         -1 2019-07-30 23:50:44
4                  -Grisha-   pl        PMG 2019-07-31 03:19:28
...                     ...  ...        ...                 ...
15553                   廃回灰   de         -1 2019-09-06 18:36:58
15554                  忍者小僧   ar         -1 2020-01-22 00:50:02
15555                  忍者小僧   de         -1 2020-01-22 00:52:53
15556                  生米一粒   de         -1 2020-01-22 00:53:18
15557                  회기-로   de         -1 2020-01-22 00:53:40

[15558 rows x 4 columns]

In [507]:
project_thanks.head(2)

         lil_thank_ts lil_thankee       lil_thanker lang
0 2019-07-31 00:11:51     Abod003        Bilal Hoor   ar
1 2019-07-31 00:47:49       شيماء  أبو الليل العربي   ar

In [508]:
second_gen_thanks = project_thanks.merge(study_thanks_uniq, left_on=['lil_thanker', 'lang'], right_on=['og_thankee', 'lang'])

In [509]:
second_gen_thanks.head()

,lil_thank_ts,lil_thankee,lil_thanker,lang,og_thankee,og_thanker,og_thank_ts
0,2019-07-31 00:11:51,Abod003,Bilal Hoor,ar,Bilal Hoor,-1,2019-09-06 18:36:26
1,2019-08-14 13:03:54,Dedaban,Bilal Hoor,ar,Bilal Hoor,-1,2019-09-06 18:36:26
2,2019-08-16 14:34:00,محمد أحمد عبد الفتاح,Bilal Hoor,ar,Bilal Hoor,-1,2019-09-06 18:36:26
3,2019-08-18 13:34:06,محمد أحمد عبد الفتاح,Bilal Hoor,ar,Bilal Hoor,-1,2019-09-06 18:36:26
4,2019-07-31 21:56:43,Dyolf77,Hamzeh'Haytham,ar,Hamzeh'Haytham,-1,2020-01-22 00:50:16

In [510]:
second_gen_thanks['reciprocal'] = second_gen_thanks['lil_thankee'] == second_gen_thanks['og_thanker']

In [511]:
second_gen_thanks['reciprocal'].sum()

13

In [512]:
second_gen_thanks.shape

(11804, 8)

### confirm user name overlap

In [513]:
project_thanks['lil_thanker'].apply(lambda s: '_' in s).any()

False

In [514]:
study_thanks_uniq['og_thankee'].apply(lambda s: "_" in s).any()

False

### get behaviour start from df

In [515]:
second_gen_thanks.head(1)

,lil_thank_ts,lil_thankee,lil_thanker,lang,og_thankee,og_thanker,og_thank_ts,reciprocal
0,2019-07-31 00:11:51,Abod003,Bilal Hoor,ar,Bilal Hoor,-1,2019-09-06 18:36:26,False

In [516]:
behavior_starts = df[['user.name','behavior.start.dt', 'lang']]

In [517]:
behavior_starts.head(1)

                       user.name   behavior.start.dt lang
id
user_id:ar:1576994  Mr.dagbashey 2020-01-22 00:49:32   ar

In [518]:
second_gen_thanks_b = second_gen_thanks.merge(behavior_starts, left_on=['og_thankee','lang'], right_on=['user.name','lang'], how='left')

In [519]:
second_gen_thanks_b['within_experiment_window'] = \
    (second_gen_thanks['lil_thank_ts'] <= (second_gen_thanks_b['behavior.start.dt'] + datetime.timedelta(days=42)) )  \
& (second_gen_thanks_b['lil_thank_ts'] > second_gen_thanks_b['behavior.start.dt'])

In [520]:
df['thanks.sent'].sum()

2561

In [521]:
second_gen_thanks_b[second_gen_thanks_b['within_experiment_window']].shape

(2552, 11)

In [522]:
second_gen_thanks_b.shape

(11804, 11)

In [524]:
second_gen_thanks_valid = second_gen_thanks_b[second_gen_thanks_b['within_experiment_window']==True]

In [536]:
out_rename = {'lil_thank_ts':'second.gen.thank.ts',
              'lil_thankee':'second.gen.recipient.user.name',
              'lil_thanker':'second.gen.sender.user.name',
              'og_thankee':'first.gen.recipient.user.name',
              'og_thanker':'first.gen.sender.user.name',
              'og_thank_ts':'first.gen.thank.ts',
              'reciprocal':'second.gen.recipient.is.first.gen.sender'}
second_gen_thanks_out = second_gen_thanks_valid.rename(columns=out_rename)

In [537]:
second_gen_thanks_out

,second.gen.thank.ts,second.gen.recipient.user.name,second.gen.sender.user.name,lang,first.gen.recipient.user.name,first.gen.sender.user.name,first.gen.thank.ts,second.gen.recipient.is.first.gen.sender,user.name,behavior.start.dt,within_experiment_window
32,2019-08-06 20:05:31,Mohammad hajeer,العمدة سيد سلطان,ar,العمدة سيد سلطان,-1,2019-07-30 23:50:54,False,العمدة سيد سلطان,2019-07-30 23:50:54,True
46,2019-10-13 09:39:49,Abu aamir,Dyolf77 (WMF),ar,Dyolf77 (WMF),Reem Al-Kashif,2019-10-01 13:27:20,False,Dyolf77 (WMF),2019-10-09 22:43:38,True
47,2019-10-13 09:39:57,Dr-Taher,Dyolf77 (WMF),ar,Dyolf77 (WMF),Reem Al-Kashif,2019-10-01 13:27:20,False,Dyolf77 (WMF),2019-10-09 22:43:38,True
145,2019-10-02 08:38:27,Kamel88,Ruwaym,ar,Ruwaym,Reem Al-Kashif,2019-07-31 04:23:27,False,Ruwaym,2019-09-21 22:30:22,True
146,2019-10-03 09:36:53,Dr.Ssr,Ruwaym,ar,Ruwaym,Reem Al-Kashif,2019-07-31 04:23:27,False,Ruwaym,2019-09-21 22:30:22,True
...,...,...,...,...,...,...,...,...,...,...,...
11296,2019-10-07 12:29:39,Ahmad252,Sokote zaman,fa,Sokote zaman,-1,2019-09-06 18:40:24,False,Sokote zaman,2019-09-06 18:40:24,True
11297,2019-10-07 14:02:22,Ahmad252,Sokote zaman,fa,Sokote zaman,-1,2019-09-06 18:40:24,False,Sokote zaman,2019-09-06 18:40:24,True
11360,2019-10-08 13:38:25,Ahmad252,Cyberpower678,fa,Cyberpower678,-1,2019-09-06 18:40:27,False,Cyberpower678,2019-09-06 18:40:27,True
11371,2019-10-16 14:16:51,Babakbh,Saeedshahi,fa,Saeedshahi,-1,2019-09-06 18:40:31,False,Saeedshahi,2019-09-06 18:40:31,True
11375,2019-10-17 21:56:43,Rajabi.abolghasem,Jokertaherabadi3000,fa,Jokertaherabadi3000,-1,2019-09-06 18:39:45,False,Jokertaherabadi3000,2019-09-06 18:39:45,True

In [538]:
second_gen_thanks_out.to_csv(os.path.join(TRESORDIR, SUBDIR, 'gratitude-second-gen-thanks-analysis-with-reciprocal.csv'), index=False, encoding='utf-8')
second_gen_thanks_out.to_csv(os.path.join(TRESORDIR, SUBDIR, 'gratitude-second-gen-thanks-analysis-with-reciprocal.tsv'), index=False, sep='\t')