# Goal
1. Implement the data described in this [google doc](https://docs.google.com/document/d/1plhoDbQryYQ32vZMXu8YmlLSp30QTdup43k6uTePOT4/edit#heading=h.b2ilq31no707).
1. One thankee per row, everyone who was ever inputted into the thanker app. Items that were experiment id -3
    1. We need all the actions connected to thos (where they are the object, maybe in metadatajson)
        1. Error status of those
1. Survey results from julia
1. Then need replica data on behaviour (with caching probably).

## Note
1. the thanker final data collector was written in the edit-sync repo as part of onboard_thankers. I'm switching it up because this is closer to the goal of making a dataCollector module for civilservant2.0

### connections
1. connecting to aws studies mysql on `3311`
    1. `ssh -N studies.cs 3311:localhost:3306`
2. connecting to wmf repliacs on `3310`
    1. `ssh -N maximilianklein@tools-login.wmflabs.org -L 3310:enwiki.analytics.db.svc.eqiad.wmflabs:3306`

In [1]:
from civilservant.models.core import ExperimentThing, ExperimentAction
from thanks.utils import _get_experiment_id
from civilservant.util import read_config_file
import os
from civilservant.db import init_session, init_engine
from sqlalchemy.dialects import mysql
import pandas as pd
import datetime
import uuid
CACHEDIR='/data/project/cache'
TRESORDIR='/home/paprika/Tresors/CivilServant/projects/wikipedia-integration/gratitude-study/'

In [2]:
db = init_session()
con = init_engine()

In [3]:
db.execute('show databases;').fetchall()

OperationalError: (MySQLdb._exceptions.OperationalError) (2003, "Can't connect to MySQL server on '127.0.0.1' (111)")
(Background on this error at: http://sqlalche.me/e/e3q8)

In [4]:
db.execute('select count(*) from core_experiment_things where experiment_id=-10;').fetchall()

[(418506,)]

In [5]:
con

Engine(mysql://civilservant:***@127.0.0.1:3311/civilservant_production?charset=utf8mb4)

In [6]:
experiment_id = -3

In [7]:
ETs_q = db.query(ExperimentThing.id, ExperimentThing.created_dt, ExperimentThing.randomization_arm, ExperimentThing.randomization_condition,
                ExperimentThing.removed_dt, ExperimentThing.metadata_json). \
                    filter_by(experiment_id=experiment_id)

ETs_sql = ETs_q.statement.compile(dialect=mysql.dialect())

thankees = pd.read_sql(ETs_sql, params={"experiment_id":experiment_id}, con=con)

In [8]:
thankees

,id,created_dt,randomization_arm,randomization_condition,removed_dt,metadata_json
0,user_id:ar:1576994,2020-01-22 00:49:32,0,thankee,NaT,"{'sync_object': {'lang': 'ar', 'user_id': 1576..."
1,user_id:ar:1577265,2020-01-22 00:49:59,1,thankee,NaT,"{'sync_object': {'lang': 'ar', 'user_id': 1577..."
2,user_id:ar:1578065,2020-01-22 00:49:26,1,thankee,NaT,"{'sync_object': {'lang': 'ar', 'user_id': 1578..."
3,user_id:ar:1579150,2020-01-22 00:49:51,1,thankee,NaT,"{'sync_object': {'lang': 'ar', 'user_id': 1579..."
4,user_id:ar:1580146,2020-01-22 00:49:53,0,thankee,NaT,"{'sync_object': {'lang': 'ar', 'user_id': 1580..."
...,...,...,...,...,...,...
15953,user_id:pl:999937,2020-01-22 00:55:08,1,thankee,NaT,"{'sync_object': {'lang': 'pl', 'user_id': 9999..."
15954,user_id:pl:999951,2020-01-22 00:54:32,0,thankee,NaT,"{'sync_object': {'lang': 'pl', 'user_id': 9999..."
15955,user_id:pl:999993,2020-01-22 00:55:25,0,thankee,NaT,"{'sync_object': {'lang': 'pl', 'user_id': 9999..."
15956,user_id:pl:999995,2020-01-22 00:55:12,1,thankee,NaT,"{'sync_object': {'lang': 'pl', 'user_id': 9999..."
15957,user_id:pl:999997,2020-01-22 00:54:56,1,thankee,NaT,"{'sync_object': {'lang': 'pl', 'user_id': 9999..."

In [9]:
EAs_q = db.query(ExperimentAction.id, ExperimentAction.created_dt, ExperimentAction.action_key_id, 
                 ExperimentAction.action, ExperimentAction.action_object_id, ExperimentAction.metadata_json, ExperimentAction.removed_dt)\
                .filter(ExperimentAction.action.in_(['skip','thank','talk_page_message']))

EAs_sql = EAs_q.statement.compile(dialect=mysql.dialect())

actions = pd.read_sql(EAs_sql, params={}, con=con)

In [29]:
db.query(ExperimentThing.metadata_json['sync_object']['newRevUser']).filter(ExperimentThing.id=='edit:en:904680745').all()[0]

('Heyyaanurag')

In [30]:
EAs_rev_q = db.query(ExperimentAction.action_object_id, ExperimentThing.query_index, ExperimentThing.metadata_json['sync_object']['newRevUser'])\
.join(ExperimentThing, ExperimentThing.metadata_json['sync_object']['rev_id']==ExperimentAction.action_object_id)\
.filter(ExperimentAction.action.in_(['skip','thank','talk_page_message']))
EAs_rev_sql = EAs_rev_q.statement.compile(dialect=mysql.dialect())

actions_revs = pd.read_sql(EAs_rev_sql, params={}, con=con)


actions_revs = actions_revs.rename(columns={'anon_1':'user_name'})

In [31]:
actions.shape, actions_revs.shape, actions[actions['action']=='thank'].shape

((13331, 7), (3289, 3), (3289, 7))

In [41]:
actions['lang'] = actions['metadata_json'].apply(lambda d: d['lang'])

In [38]:
actions_revs['lang'] = actions_revs['query_index'].apply(lambda s: s.split(':')[1])

In [64]:
actions_revs.head(2)

  action_object_id      query_index user_name lang
0         34841943  user:ar:1665302  Hharris3   ar
1         34853415  user:ar:1665429    TRAsma   ar

In [53]:
# received = actions.merge(actions_revs, how='left',on=['lang', 'action_object_id']) # don't want this merge because

In [71]:
def lookup_user_name(action, action_object_id, lang):
    if action == 'thank':
        # see if it's an int
        rev_id = int(action_object_id)
        rows = actions_revs[(actions_revs['action_object_id']==action_object_id) & (actions_revs['lang']==lang)]
        user_name = rows.iloc[0]['user_name']
        return user_name
    else:
        #it's already a username
        return action_object_id

In [72]:
actions['user_name'] = actions.apply(lambda row: lookup_user_name(row['action'],
                                                                  row['action_object_id'], 
                                                                  row['lang']) , axis=1)

In [73]:
actions.shape

(13331, 9)

In [74]:
actions.head()

,id,created_dt,action_key_id,action,action_object_id,metadata_json,removed_dt,lang,user_name
0,1,2019-08-01 01:08:57,2,skip,Samuelsp15,{'lang': 'en'},None,en,Samuelsp15
1,2,2019-08-01 01:09:07,2,thank,902187047,"{'lang': 'en', 'errors': [], 'thanks_sent': Tr...",None,en,Mittalr75
2,3,2019-08-01 01:09:28,2,thank,896313807,"{'lang': 'en', 'errors': [], 'thanks_sent': Tr...",None,en,Ruth Truong
3,4,2019-08-01 01:09:48,2,thank,906909674,"{'lang': 'en', 'errors': [], 'thanks_sent': Tr...",None,en,Jasontkaczuk
4,5,2019-08-01 01:09:59,2,thank,906338195,"{'lang': 'en', 'errors': [], 'thanks_sent': Tr...",None,en,Primarina's Girl

In [77]:
actions.to_pickle(os.path.join(CACHEDIR, 'thankee-misc', 'actions.pickle'))
actions_revs.to_pickle(os.path.join(CACHEDIR, 'thankee-misc', 'actions_revs.pickle'))
thankees.to_pickle(os.path.join(CACHEDIR, 'thankee-misc', 'thankees.pickle'))

# pickle-checkpoint for

In [46]:
actions = pd.read_pickle(os.path.join(CACHEDIR, 'thankee-misc', 'actions.pickle'))
thankees = pd.read_pickle(os.path.join(CACHEDIR, 'thankee-misc', 'thankees.pickle'))

need to cut these off on that date in february as we discussed.

In [47]:
ACTION_CUTOFF = datetime.datetime(2020, 2, 11)
SURVEY_CUTOFF = datetime.datetime(2020, 4, 1)

In [48]:
print(f'num actions before cutoff {len(actions)}')
actions = actions[actions['created_dt']<=ACTION_CUTOFF]
print(f'num actions after cutoff {len(actions)}')

num actions before cutoff 13331
num actions after cutoff 12200

In [49]:
def extract_error(d):
    if not d or not 'errors' in d.keys():
        return float('nan')
    elif len(d['errors'])==0:
        return float('nan')
    else:
        return d['errors'][-1]

In [50]:
actions['error'] = actions['metadata_json'].apply(extract_error)

In [51]:
def num_errors(error_ser):
    return sum(pd.notnull(error_ser))
def num_skips(action_ser):
    return sum(action_ser=='skip')
def num_thanks(action_ser):
    return sum(action_ser=='thank')
def num_messages(action_ser):
    return sum(action_ser=='talk_page_message')
def public_anonymous_id(metadata_json_ser):
    # NOTE: some users have two public anonymous IDs because they were multiply thanked, and I'm not sure which of the two PAID links they clicked. 
    # However. I'm not sure it matters because in the case they were thanked twice, we are probably not going to use their data anyway.
    public_anonymous_id = None
    for md in metadata_json_ser:
        if 'anonymized_id' in md.keys():
            public_anonymous_id = md['anonymized_id']
    return public_anonymous_id

def first_thank(thankee_df):
    sorted_thanks = thankee_df[thankee_df['action']=='thank'].sort_values(by='created_dt', ascending=False)
    if len(sorted_thanks) > 0:
        return sorted_thanks['created_dt'].iloc[0]
    else:
        return float('nan')
    
def thankee_agg(thankee_df):
    return pd.DataFrame([[num_errors(thankee_df.error),
                          num_skips(thankee_df.action),
                         first_thank(thankee_df),
                         num_thanks(thankee_df.action),
                         num_messages(thankee_df.action),
                         public_anonymous_id(thankee_df.metadata_json)]], 
                         columns=
                        ['num_errors',
                         'num_skips', 
                         'first_thank_dt',
                        'num_thanks',
                        'num_messages',
                        'public_anonymous_id'])

In [52]:
actions_thankee_ind = actions.groupby(['lang', 'user_name']).apply(lambda df: thankee_agg(df))

In [53]:
actions_thankee = actions_thankee_ind.reset_index(level=-1, drop=True).reset_index()

In [54]:
actions_thankee

,lang,user_name,num_errors,num_skips,first_thank_dt,num_thanks,num_messages,public_anonymous_id
0,ar,011 Zezo Tito,1,1,2019-09-21 22:14:28,1,1,2b1d411a-0e5c-4e68-9c37-a058fe12b4f3
1,ar,11 Tmim Ali,0,0,2019-09-20 16:52:17,1,1,48a9ab3d-73f7-44fe-8d9d-ec8b0c39f6bc
2,ar,1mmalkhhh,0,0,2019-10-09 22:53:56,1,1,6154ad18-0b6d-4628-a9cd-9b0c403f93ac
3,ar,2 Muhammed Ali King,0,0,2019-09-21 22:21:08,1,1,c7b68a1a-61a8-4e72-b799-7c680e3b9655
4,ar,33Shafi,0,0,2019-09-24 23:00:15,1,1,c2405ef1-31ca-48c7-9d62-75194aeb9e3d
...,...,...,...,...,...,...,...,...
6451,pl,,0,0,NaT,0,1,01115aa8-cb7a-4a6c-95c1-fd74fb178559
6452,pl,,0,4,2019-08-19 16:47:04,1,1,21e94a21-be65-4663-ad35-80427fa5400c
6453,pl,,0,0,2019-08-19 15:05:31,1,1,87cc6409-af36-4615-b21e-9163161a4f29
6454,pl,,0,0,2019-08-20 11:40:31,1,1,9d23d454-8e8e-465d-a164-bdbee399f7e9
6455,pl,,0,2,NaT,0,0,None

In [55]:
# actions_thankee = actions.groupby(['lang', 'user_name']).agg({'error':num_errors,
#                                                               'action':[num_skips, num_thanks, num_messages, first_thank_dt],
#                                                               'metadata_json':public_anonymous_id})

In [56]:
thankees['lang'] = thankees['metadata_json'].apply(lambda d: d['sync_object']['lang'])
thankees['user_name'] = thankees['metadata_json'].apply(lambda d: d['sync_object']['user_name'])
thankees['randomization_block_id'] = thankees['metadata_json'].apply(lambda d: d['randomization_block_id'])

In [189]:
df = thankees.merge(actions_thankee, how='left', on=['lang','user_name'] )

In [190]:
df['num_skips'] = df['num_skips'].fillna(0)
df['num_thanks'] = df['num_thanks'].fillna(0)
df['num_errors'] = df['num_errors'].fillna(0)
df['num_messages'] = df['num_messages'].fillna(0)

In [191]:
df['num_errors'].sum()

215.0

In [192]:
df['num_skips'].sum()

4186.0

In [193]:
df.groupby('randomization_arm').agg({'num_thanks':pd.np.mean})

                   num_thanks
randomization_arm
0                    0.000000
1                    0.391979

# merge with survey

In [194]:
SKIPCOLS= ['StartDate', 'EndDate', 'Status', 'Progress', 'Duration (in seconds)',
       'Finished', 'RecordedDate', 'ResponseId', 'DistributionChannel',
       'UserLanguage']
survey_raw = pd.read_csv(os.path.join(TRESORDIR, 'datasets', 'thankee_surveys' , 'thankee_survey_all.csv'))
all_cols = survey_raw.columns
use_cols = [col for col in all_cols if col not in SKIPCOLS]

survey_raw = survey_raw[use_cols].rename(columns={"ID":'public_anonymous_id'})
survey = survey_raw

In [195]:
print(f'len survey before dropping null public_anonymous_id {len(survey)}')
survey = survey[pd.notnull(survey['public_anonymous_id'])]
print(f'len survey before dropping null public_anonymous_id {len(survey)}')

len survey before dropping null public_anonymous_id 1144
len survey before dropping null public_anonymous_id 1139

In [196]:
survey.columns

Index(['consent', 'overall.exp', 'social.value.1',
       'wikipedians.value.contributions', 'social.value.3', 'social.value.4',
       'community.friendly', 'social.warmth.2', 'social.warmth.3', 'community',
       'remembered.thanks', 'public_anonymous_id'],
      dtype='object')

In [197]:
assert df['public_anonymous_id'].value_counts().max() == 1

In [198]:
survey_counts = survey.groupby('public_anonymous_id').size()

In [199]:
survey_counts[survey_counts>1].shape

(91,)

In [200]:
survey_counts.name = 'survey_times_taken'

In [201]:
survey = survey.merge(survey_counts, on='public_anonymous_id')

In [202]:
survey['survey_taken_multiple_times'] = survey['survey_times_taken'] > 1

In [203]:
survey.groupby('survey_taken_multiple_times').agg(pd.np.mean)

,consent,overall.exp,social.value.1,wikipedians.value.contributions,social.value.3,social.value.4,community.friendly,social.warmth.2,social.warmth.3,community,remembered.thanks,survey_times_taken
survey_taken_multiple_times,,,,,,,,,,,,
False,1.0,3.953144,4.168927,3.397041,3.595561,3.397041,3.599260,3.642417,3.782984,3.179455,3.357320,1.000000
True,1.0,3.718954,3.941176,3.274510,3.464052,3.183007,3.281046,3.405229,3.581699,3.326797,3.414474,2.121693

In [204]:
survey_uniq = survey_raw.drop_duplicates(subset='public_anonymous_id')
print(f'len survey-uniq before dropping null public_anonymous_id {len(survey_uniq)}')
survey_uniq = survey_uniq[pd.notnull(survey_uniq['public_anonymous_id'])]
print(f'len survey-unqi before dropping null public_anonymous_id {len(survey_uniq)}')

len survey-uniq before dropping null public_anonymous_id 1042
len survey-unqi before dropping null public_anonymous_id 1041

In [205]:
len(df), len(survey), len(survey_uniq), len(survey_uniq[pd.notnull(survey_uniq['consent'])])

(15958, 1139, 1041, 1019)

In [206]:
survey_uniq[pd.isnull(survey_uniq['consent'])].shape

(22, 12)

In [207]:
len(df['public_anonymous_id'].unique()), len(survey_uniq['public_anonymous_id'].unique())

(4669, 1041)

In [208]:
survey_uniq[pd.isnull(survey_uniq['public_anonymous_id'])]

Empty DataFrame
Columns: [consent, overall.exp, social.value.1, wikipedians.value.contributions, social.value.3, social.value.4, community.friendly, social.warmth.2, social.warmth.3, community, remembered.thanks, public_anonymous_id]
Index: []

In [209]:
df = df.merge(survey_uniq, how='left', on='public_anonymous_id')

In [210]:
merged_consenters = df[pd.notnull(df['consent'])]

In [211]:
len(df), len(merged_consenters)  #df size should not increase, but neither should consent

(15958, 898)

In [212]:
merged_consenters_paids = merged_consenters['public_anonymous_id'].values
survey_paids = survey_uniq['public_anonymous_id'].values

In [213]:
didnt_merge = [p for p in survey_paids if p not in merged_consenters_paids]

In [214]:
len(didnt_merge), didnt_merge[:5] #some of these dont exist mysteriously (did i delete them) (some duplicate messages that got delivered)

(143,
 ['5eeba410-9157-46a6-ba16-6d69f5b7432c',
  'd3766f42-75ea-43ad-838f-2da592816102',
  'f6dece75-0ff8-4af5-9162-ae3538aee4cf',
  'cc267661-d673-4564-9b5c-3d5e00095e00',
  'f83bc9b8-a76c-47f7-a87f-77367b0f59fa'])

In [215]:
df[df['user_name']=='Ptjackyll']['public_anonymous_id']

12287    610f6b6e-9a1b-4497-bdf3-45cfbd036f49
Name: public_anonymous_id, dtype: object

In [216]:
df['id'].unique().shape, df['public_anonymous_id'].unique().shape

((15958,), (4669,))

#### need to make a private anonymous id

In [217]:
root_uuid = uuid.uuid1()

In [218]:
root_uuid

UUID('aa4ca610-7f73-11ea-8471-346895ed6ea1')

In [219]:
df['private_anonymous_id'] = df['id'].apply(lambda x: uuid.uuid5(root_uuid, x))

In [220]:
df['id'].unique().shape, df['private_anonymous_id'].unique().shape

((15958,), (15958,))

In [221]:
df.columns

Index(['id', 'created_dt', 'randomization_arm', 'randomization_condition',
       'removed_dt', 'metadata_json', 'lang', 'user_name',
       'randomization_block_id', 'num_errors', 'num_skips', 'first_thank_dt',
       'num_thanks', 'num_messages', 'public_anonymous_id', 'consent',
       'overall.exp', 'social.value.1', 'wikipedians.value.contributions',
       'social.value.3', 'social.value.4', 'community.friendly',
       'social.warmth.2', 'social.warmth.3', 'community', 'remembered.thanks',
       'private_anonymous_id'],
      dtype='object')

In [222]:
no_pii_out_cols = ('id', 'public_anonymous_id')
map_cols = ['id', 'public_anonymous_id', 'private_anonymous_id']

In [223]:
no_pii = df[ [c for c in df.columns if c not in no_pii_out_cols]]

In [224]:
no_pii.to_pickle(os.path.join(CACHEDIR, 'thankee-misc', 'survey_and_thankee_actions.pickle'))
no_pii.to_csv(os.path.join(CACHEDIR, 'thankee-misc', 'survey_and_thankee_actions.csv'), index=False)

In [225]:
acct_map = df[map_cols]

In [226]:
acct_map.to_pickle(os.path.join(CACHEDIR, 'thankee-misc', 'acct_map.pickle'))
acct_map.to_csv(os.path.join(TRESORDIR, 'Data Drills', 'thanker', 'post_experiment_analysis', 'acct_map.csv'), index=False)