# Goal
1. Implement the data described in this [google doc](https://docs.google.com/document/d/1plhoDbQryYQ32vZMXu8YmlLSp30QTdup43k6uTePOT4/edit#heading=h.b2ilq31no707).
1. One thankee per row, everyone who was ever inputted into the thanker app. Items that were experiment id -3
    1. We need all the actions connected to thos (where they are the object, maybe in metadatajson)
        1. Error status of those
1. Survey results from julia
1. Then need replica data on behaviour (with caching probably).

## Note
1. the thanker final data collector was written in the edit-sync repo as part of onboard_thankers. I'm switching it up because this is closer to the goal of making a dataCollector module for civilservant2.0

### connections
1. connecting to aws studies mysql on `3311`
    1. `ssh -N studies.cs -L 3311:127.0.0.1:3306`
2. connecting to wmf repliacs on `3310`
    1. `ssh -N maximilianklein@tools-login.wmflabs.org -L 3310:enwiki.analytics.db.svc.eqiad.wmflabs:3306`

In [2]:
# from thanks.utils import _get_experiment_id
from civilservant.util import read_config_file
import os
from sqlalchemy.dialects import mysql
import pandas as pd
import datetime
# import uuid
CACHEDIR='/data/project/cache'
TRESORDIR='/home/paprika/Tresors/CivilServant/projects/wikipedia-integration/gratitude-study/'

In [3]:
SUBDIR = 'Data Drills/thankee/post_experiment_analysis/'
df_anon = pd.read_csv(os.path.join(TRESORDIR, SUBDIR, 'grat-thankee-all-pre-post-treatment-vars.csv'))
acct_map = pd.read_csv(os.path.join(TRESORDIR, SUBDIR, 'acct_map.csv'))

In [4]:
df = df_anon.merge(right=acct_map, left_on='private.anonymous.id', right_on='private_anonymous_id').set_index('id')

In [5]:
len(df) == len(df_anon)

True

### get every thank sent in the experiment

In [6]:
os.environ['CS_DB_HOST']='127.0.0.1:3311' #monkey patch for the win
os.environ['CS_DB_DATABASE'] = 'civilservant_production'
os.environ['CS_DB_PASSWORD'] = ''
os.environ['CS_DB_USER']="civilservant"

In [7]:
! which ipython

/home/paprika/.local/share/virtualenvs/experiment-action-controller-MJBx_Q7R/bin/ipython

In [8]:
import civilservant
import civilservant.models
import civilservant.models.core

from civilservant.db import init_session, init_engine
import sys
db = init_session()
con = init_engine()

In [9]:
os.getenv('CS_DB_HOST')

'127.0.0.1:3311'

In [10]:
os.getenv('CS_ENV')

'development'

In [11]:
con

Engine(mysql://civilservant:***@127.0.0.1:3311/civilservant_production?charset=utf8mb4)

In [12]:
thankee_thanker_dt_sql = \
'''
with thanks as (
    select
      JSON_UNQUOTE(metadata_json->'$.lang')                             as lang,
      JSON_UNQUOTE(metadata_json->'$.thanks_response.result.recipient') as recipient,
      action_object_id                                                  as rev_id,
      action_key_id
    from core_experiment_actions
    where action = 'thank'
          and created_dt < DATE '2020-02-11'
),
    thankers as (
      select
        id,
        username
      from core_oauth_users
  ),
    joined as (
      select
        t.lang,
        t.recipient,
        t.rev_id,
        et.id      as ed_id,
        et.object_created_dt,
        et.removed_dt,
        o.id       as oauth_id,
        o.username as thanker
      from thanks t
        left join core_experiment_things et
          on concat('edit:', t.lang, ':', t.rev_id) = et.id
        left join thankers o
          on t.action_key_id = o.id
  )
select *
from joined
where lang != 'en';

'''

In [13]:
study_thanks = pd.read_sql(thankee_thanker_dt_sql, params={}, con=con)

In [14]:
study_thanks.to_csv(os.path.join(TRESORDIR, SUBDIR, 'all_study_thanks.checkpoint.csv'))

### get every thank on wikipedia in the 42 days after user was thanked
- complicated by language
- and by users being thanked multiple times (what are the start and end dates)

Try and get every sender-receiver-timestamp from START_EXPERIMENT to 42DAYS AFTER LAST THANK. In every language.

In [15]:
study_thanks['thanker_without_prefix'] = study_thanks['thanker'].apply(lambda s: s.replace('ar:','').replace('fa:','').replace('de:','').replace('pl:',''))

In [16]:
study_thanks.head()

,lang,recipient,rev_id,ed_id,object_created_dt,removed_dt,oauth_id,thanker,thanker_without_prefix
0,ar,Badr d alahmad,34898867,edit:ar:34898867,2019-07-31 04:06:26,NaT,7,ar:Ahmed M Farrag,Ahmed M Farrag
1,ar,TRAsma,34853415,edit:ar:34853415,2019-07-31 04:06:31,NaT,7,ar:Ahmed M Farrag,Ahmed M Farrag
2,ar,حكيم الله,34882419,edit:ar:34882419,2019-07-31 04:07:02,NaT,8,ar:باسم,باسم
3,ar,Sqtr84ryn,34894252,edit:ar:34894252,2019-07-31 04:07:49,NaT,8,ar:باسم,باسم
4,ar,Alli Babiker,34902999,edit:ar:34902999,2019-07-31 04:08:08,NaT,8,ar:باسم,باسم

In [17]:
LABOR_HOURS_OBS_WINDOW = datetime.timedelta(days=42)
ONE_DAY = datetime.timedelta(days=1)

In [18]:
orig_pickle =  pd.read_pickle(os.path.join(CACHEDIR, 'thankee-misc', 'survey_and_thankee_actions.pickle'))

In [19]:

EXPERIMENT_START_DT = min(study_thanks['object_created_dt'])

EXPERIMENT_END_DT = max(study_thanks['object_created_dt']) + LABOR_HOURS_OBS_WINDOW

In [20]:
ORIG_EXPERIMENT_START_DT = min(orig_pickle['created_dt'])

ORIG_EXPERIMENT_END_DT = max(orig_pickle['created_dt']) + LABOR_HOURS_OBS_WINDOW

In [21]:
EXPERIMENT_START_DT, EXPERIMENT_END_DT # Going to roll with these dates as they line up mostly, but only include thanks.

(Timestamp('2019-07-31 00:03:13'), Timestamp('2020-03-17 08:16:55'))

In [22]:
ORIG_EXPERIMENT_START_DT, ORIG_EXPERIMENT_END_DT

(Timestamp('2019-07-30 23:50:43'), Timestamp('2020-03-04 00:56:07'))

In [23]:
EXPERIMENT_START_DT_WMFTS = EXPERIMENT_START_DT.strftime('%Y%m%d%H%M%S')
EXPERIMENT_END_DT_WMFTS = EXPERIMENT_END_DT.strftime('%Y%m%d%H%M%S')

In [24]:
EXPERIMENT_END_DT_WMFTS_SHORT = (EXPERIMENT_START_DT+ONE_DAY).strftime('%Y%m%d%H%M%S')

In [25]:
EXPERIMENT_START_DT_WMFTS, EXPERIMENT_END_DT_WMFTS

('20190731000313', '20200317081655')

In [26]:
from sqlalchemy import create_engine
wmfcon = create_engine(f"mysql://{os.environ['WMF_MYSQL_USERNAME']}:{os.environ['WMF_MYSQL_PASSWORD']}@{os.environ['WMF_MYSQL_HOST']}:{os.environ['WMF_MYSQL_PORT']}")

In [27]:
use_q = 'use {lang}wiki_p;'
lang_thanks_q = '''
 select log_timestamp as thank_timestamp, replace(log_title, '_', ' ') as receiver, a.actor_name as sender_user_name
  from logging_logindex l
  join actor a
   on l.log_actor = a.actor_id
  where 
    log_action = 'thank'
    and log_timestamp >= '{EXPERIMENT_START_DT_WMFTS}'
    and log_timestamp <= '{EXPERIMENT_END_DT_WMFTS}';
    '''

In [28]:
fa_use_query = use_q.format(lang='fa')
fa_lang_query = lang_thanks_q.format(EXPERIMENT_START_DT_WMFTS=EXPERIMENT_START_DT_WMFTS,  
                                      EXPERIMENT_END_DT_WMFTS=EXPERIMENT_END_DT_WMFTS)

In [29]:
print(fa_lang_query)

 select log_timestamp as thank_timestamp, replace(log_title, '_', ' ') as receiver, a.actor_name as sender_user_name
  from logging_logindex l
  join actor a
   on l.log_actor = a.actor_id
  where
    log_action = 'thank'
    and log_timestamp >= '20190731000313'
    and log_timestamp <= '20200317081655';

In [30]:
wmfcon.execute(fa_use_query)

In [31]:
# wmfcon.execute(fa_lang_query).fetchall()

In [32]:
study_langs = list(study_thanks['lang'].unique())

In [33]:
import time

In [34]:
res = {}
for lang in study_langs:
    print(f'working on study lang {lang}')
    stime = time.time()
    use_query = use_q.format(lang=lang)
    lang_query = lang_thanks_q.format(EXPERIMENT_START_DT_WMFTS=EXPERIMENT_START_DT_WMFTS,  
                                      EXPERIMENT_END_DT_WMFTS=EXPERIMENT_END_DT_WMFTS)
    print(use_query)
    print(lang_query)
    wmfcon.execute(use_query)
    ldf = pd.read_sql(lang_query, params={}, con=wmfcon)
    res[lang] = ldf
    etime = time.time()
    print(f'{lang} took {etime-stime} seconds')

working on study lang ar
use arwiki_p;

 select log_timestamp as thank_timestamp, replace(log_title, '_', ' ') as receiver, a.actor_name as sender_user_name
  from logging_logindex l
  join actor a
   on l.log_actor = a.actor_id
  where
    log_action = 'thank'
    and log_timestamp >= '20190731000313'
    and log_timestamp <= '20200317081655';

ar took 14.8468599319458 seconds
working on study lang de
use dewiki_p;

 select log_timestamp as thank_timestamp, replace(log_title, '_', ' ') as receiver, a.actor_name as sender_user_name
  from logging_logindex l
  join actor a
   on l.log_actor = a.actor_id
  where
    log_action = 'thank'
    and log_timestamp >= '20190731000313'
    and log_timestamp <= '20200317081655';

de took 64.71280264854431 seconds
working on study lang pl
use plwiki_p;

 select log_timestamp as thank_timestamp, replace(log_title, '_', ' ') as receiver, a.actor_name as sender_user_name
  from logging_logindex l
  join actor a
   on l.log_actor = a.actor_id
  where
    log_action = 'thank'
    and log_timestamp >= '20190731000313'
    and log_timestamp <= '20200317081655';

pl took 8.547661066055298 seconds
working on study lang fa
use fawiki_p;

 select log_timestamp as thank_timestamp, replace(log_title, '_', ' ') as receiver, a.actor_name as sender_user_name
  from logging_logindex l
  join actor a
   on l.log_actor = a.actor_id
  where
    log_action = 'thank'
    and log_timestamp >= '20190731000313'
    and log_timestamp <= '20200317081655';

fa took 12.804641485214233 seconds

In [35]:
def decode_or_nan(b):
    return b.decode('utf-8') if b else float('nan')
def from_wmftimestamp(timestr, default=None):
    if isinstance(timestr, str):
        return datetime.datetime.strptime(timestr, '%Y-%m-%dT%H:%M:%SZ')
    elif isinstance(timestr, bytes):
        if timestr:
            s = timestr.decode('utf-8')
            adt = datetime.datetime.strptime(s, '%Y%m%d%H%M%S')
            return adt
        elif default:
            return default
    else:
        return timestr

In [36]:
def decode_all_cols(df, lang):
    df['thank_timestamp'] = df['thank_timestamp'].apply(from_wmftimestamp)
    df['receiver'] = df['receiver'].apply(decode_or_nan)
    df['sender'] = df['sender_user_name'].apply(decode_or_nan)
    df['lang'] = lang
    del df['sender_user_name']
    return df

In [37]:
res_decode = {lang: decode_all_cols(df, lang) for lang, df in res.items()}

In [38]:
res_decode['de']

          thank_timestamp           receiver           sender lang
0     2019-07-31 00:03:51      Arturolorioli             LKIT   de
1     2019-07-31 00:08:19            Jaellee   Hobbitschuster   de
2     2019-07-31 00:46:31  KeinerMagFassmann     Gestumblindi   de
3     2019-07-31 00:46:46            Wiegels       Ordercrazy   de
4     2019-07-31 01:02:34         Lanzenhart          Tkotw12   de
...                   ...                ...              ...  ...
86979 2020-03-17 07:56:02           Dentalum  Diskografienerd   de
86980 2020-03-17 07:56:22           Marbruno            Blech   de
86981 2020-03-17 07:58:37           Atirador    Freimut Bahlo   de
86982 2020-03-17 08:02:50        Condividere       Cockamouse   de
86983 2020-03-17 08:15:43         PaterMcFly    Hans Koberger   de

[86984 rows x 4 columns]

In [39]:
project_thanks = pd.concat(res_decode.values())

In [40]:
len(project_thanks)

130646

In [41]:
project_thanks.head()

      thank_timestamp      receiver                sender lang
0 2019-07-31 00:11:51       Abod003            Bilal Hoor   ar
1 2019-07-31 00:47:49         شيماء      أبو الليل العربي   ar
2 2019-07-31 02:37:05       Glory20                  صالح   ar
3 2019-07-31 04:51:42          صالح                 ديفيد   ar
4 2019-07-31 07:14:30  Michel Bakni  محمد أحمد عبد الفتاح   ar

### make sure that OG sender--receiver pairs are unique

In [42]:
study_thanks_uniq = study_thanks.groupby(by=['lang', 'recipient', 'thanker_without_prefix'])\
    .agg({'object_created_dt':pd.np.min})\
     .reset_index().groupby(['recipient','lang']).first().reset_index()

# the first group by take the first timestamp of every thanker-thankee interaction.
# the second group by selects just the first thanke-thankee-interaction, so that each og_thankee appears only once.

/home/paprika/.local/share/virtualenvs/experiment-action-controller-MJBx_Q7R/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

In [43]:
study_thanks_uniq = study_thanks_uniq.rename(columns={'recipient':'og_thankee', 'thanker_without_prefix':'og_thanker', 'object_created_dt':'og_thank_ts'})

In [44]:
project_thanks = project_thanks.rename(columns={'receiver':'lil_thankee','sender':'lil_thanker','thank_timestamp':'lil_thank_ts'})

In [45]:
study_thanks_uniq.head(2)

      og_thankee lang og_thanker         og_thank_ts
0  "Coreytaylor"   pl        PMG 2019-07-31 02:59:02
1       -Grisha-   pl        PMG 2019-07-31 03:19:28

In [46]:
project_thanks.head(2)

         lil_thank_ts lil_thankee       lil_thanker lang
0 2019-07-31 00:11:51     Abod003        Bilal Hoor   ar
1 2019-07-31 00:47:49       شيماء  أبو الليل العربي   ar

In [47]:
second_gen_thanks = project_thanks.merge(study_thanks_uniq, left_on=['lil_thanker', 'lang'], right_on=['og_thankee', 'lang'])

In [48]:
second_gen_thanks.head()

,lil_thank_ts,lil_thankee,lil_thanker,lang,og_thankee,og_thanker,og_thank_ts
0,2019-08-07 15:56:35,FShbib,Dyolf77 (WMF),ar,Dyolf77 (WMF),Reem Al-Kashif,2019-10-01 13:27:20
1,2019-08-07 15:56:43,شادي,Dyolf77 (WMF),ar,Dyolf77 (WMF),Reem Al-Kashif,2019-10-01 13:27:20
2,2019-08-08 16:41:06,FShbib,Dyolf77 (WMF),ar,Dyolf77 (WMF),Reem Al-Kashif,2019-10-01 13:27:20
3,2019-08-08 16:41:13,شادي,Dyolf77 (WMF),ar,Dyolf77 (WMF),Reem Al-Kashif,2019-10-01 13:27:20
4,2019-08-08 16:41:16,عبد الله,Dyolf77 (WMF),ar,Dyolf77 (WMF),Reem Al-Kashif,2019-10-01 13:27:20

In [49]:
second_gen_thanks['reciprocal'] = second_gen_thanks['lil_thankee'] == second_gen_thanks['og_thanker']

In [50]:
second_gen_thanks['reciprocal'].sum()

13

In [56]:
second_gen_thanks['within_experiment_window'] = \
    (second_gen_thanks['lil_thank_ts'] - second_gen_thanks['og_thank_ts'] < datetime.timedelta(days=42)) & (second_gen_thanks['lil_thank_ts'] > second_gen_thanks['og_thank_ts'])

In [57]:
second_gen_thanks['within_experiment_window'].sum()

879

In [64]:
second_gen_thanks_valid = second_gen_thanks[second_gen_thanks['within_experiment_window']==True]

In [65]:
second_gen_thanks_valid.sort_values('reciprocal', ascending=False)

,lil_thank_ts,lil_thankee,lil_thanker,lang,og_thankee,og_thanker,og_thank_ts,reciprocal,within_experiment_window
833,2020-02-09 21:25:34,Goldmull,Am4rantheus,de,Am4rantheus,Goldmull,2020-01-22 07:43:59,True,True
1483,2019-08-18 19:34:32,EwkaC,Four.mg,pl,Four.mg,EwkaC,2019-08-05 21:38:06,True,True
3215,2019-08-26 10:37:37,Arash.pt,MohadShojaee,fa,MohadShojaee,Arash.pt,2019-07-31 00:25:01,True,True
2377,2019-09-13 18:51:48,Szoltys,Happa,pl,Happa,Szoltys,2019-08-06 09:41:45,True,True
2044,2019-08-15 23:52:02,Szoltys,Andrzej1993,pl,Andrzej1993,Szoltys,2019-07-31 02:39:14,True,True
...,...,...,...,...,...,...,...,...,...
1126,2019-08-15 15:02:04,Swsz,PMG,pl,PMG,Szoltys,2019-08-07 13:23:34,False,True
1127,2019-08-15 15:02:05,Kernel,PMG,pl,PMG,Szoltys,2019-08-07 13:23:34,False,True
1128,2019-08-15 15:02:05,Gacus69,PMG,pl,PMG,Szoltys,2019-08-07 13:23:34,False,True
1129,2019-08-15 15:02:06,Dino3000,PMG,pl,PMG,Szoltys,2019-08-07 13:23:34,False,True
3220,2019-09-14 06:37:47,Ahmad252,Esmatly,fa,Esmatly,Arash.pt,2019-08-06 21:16:50,False,True

In [66]:
second_gen_thanks_valid['reciprocal'].sum()

5

In [68]:
second_gen_thanks_invalid = second_gen_thanks[second_gen_thanks['within_experiment_window']==False]

In [69]:
second_gen_thanks.to_csv(os.path.join(TRESORDIR, SUBDIR, 'gratitude-second-gen-thanks-analysis-with-reciprocal-wide-experiment-window.csv'))
second_gen_thanks_valid.to_csv(os.path.join(TRESORDIR, SUBDIR, 'gratitude-second-gen-thanks-analysis-with-reciprocal-strict-experiment-window.csv'))